<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row">
            <div class="col text-center">
                <img src="/img/selvi.jpeg" alt="Selvi Desti Riyani" class="img-thumbnail rounded-circle" width="200px">
                <h1 class="display-4">Selvi Desti Riyani</h1>
                <p class="lead">Lecturer | Content Creator</p>
            </div>
        </div>
    </div>
</body>
</html>
